In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [1]:
movies = {
    'title': [
        'Avatar','Titanic','Inception','Interstellar','The Dark Knight',
        'Joker','Avengers','Iron Man','Thor','Captain America',
        'Black Panther','Doctor Strange','Guardians of the Galaxy',
        'Spider-Man','Ant-Man','Deadpool','Logan','X-Men',
        'Justice League','Man of Steel',
        'Harry Potter','Fantastic Beasts','Lord of the Rings',
        'The Hobbit','Star Wars','Rogue One','The Matrix',
        'John Wick','Mission Impossible','Fast and Furious',
        'Transformers','Terminator','Alien','Predator',
        'Jurassic Park','King Kong','Godzilla',
        'Pirates of the Caribbean','Aquaman','Shazam',
        'Frozen','Moana','Coco','Toy Story','Cars',
        'Up','Finding Nemo','Inside Out','The Lion King'
    ],
    
    'genres': [
        'action adventure fantasy','romance drama','action sci fi thriller',
        'sci fi adventure drama','action crime drama',
        'crime drama thriller','action adventure','action sci fi',
        'action fantasy','action war',
        'action adventure','fantasy adventure',
        'action comedy sci fi','action adventure',
        'action comedy','action comedy',
        'action drama','action fantasy',
        'action fantasy','action sci fi',
        'fantasy magic adventure','fantasy adventure',
        'fantasy adventure','fantasy adventure',
        'sci fi adventure','sci fi action',
        'sci fi action','action thriller',
        'action thriller','action adventure',
        'action sci fi','sci fi action',
        'sci fi horror','action horror',
        'adventure sci fi','adventure fantasy',
        'sci fi monster','adventure fantasy',
        'action fantasy','action fantasy',
        'animation fantasy','animation adventure',
        'animation family','animation family',
        'animation family','animation adventure',
        'animation family','animation family',
        'animation family'
    ]
}

df = pd.DataFrame(movies)
df.head(50)

NameError: name 'pd' is not defined

In [3]:
cv = CountVectorizer()
genre_matrix = cv.fit_transform(df['genres'])

In [4]:
similarity = cosine_similarity(genre_matrix)

In [5]:
def recommend(movie):
    if movie not in df['title'].values:
        return "Movie not found in dataset"
    
    index = df[df['title'] == movie].index[0]
    distances = similarity[index]
    movie_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]
    
    print(f"\nMovies similar to '{movie}':\n")
    for i in movie_list:
        print(df.iloc[i[0]].title)

In [6]:
recommend("Inception")

Movies similar to 'Inception':

Iron Man
Man of Steel
Rogue One
The Matrix
Transformers

In [2]:
df

NameError: name 'df' is not defined

In [3]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [4]:
movies = {
    'title': [
        'Avatar','Titanic','Inception','Interstellar','The Dark Knight',
        'Joker','Avengers','Iron Man','Thor','Captain America',
        'Black Panther','Doctor Strange','Guardians of the Galaxy',
        'Spider-Man','Ant-Man','Deadpool','Logan','X-Men',
        'Justice League','Man of Steel',
        'Harry Potter','Fantastic Beasts','Lord of the Rings',
        'The Hobbit','Star Wars','Rogue One','The Matrix',
        'John Wick','Mission Impossible','Fast and Furious',
        'Transformers','Terminator','Alien','Predator',
        'Jurassic Park','King Kong','Godzilla',
        'Pirates of the Caribbean','Aquaman','Shazam',
        'Frozen','Moana','Coco','Toy Story','Cars',
        'Up','Finding Nemo','Inside Out','The Lion King'
    ],

    'genres': [
        'action adventure fantasy','romance drama','action sci fi thriller',
        'sci fi adventure drama','action crime drama',
        'crime drama thriller','action adventure','action sci fi',
        'action fantasy','action war',
        'action adventure','fantasy adventure',
        'action comedy sci fi','action adventure',
        'action comedy','action comedy',
        'action drama','action fantasy',
        'action fantasy','action sci fi',
        'fantasy magic adventure','fantasy adventure',
        'fantasy adventure','fantasy adventure',
        'sci fi adventure','sci fi action',
        'sci fi action','action thriller',
        'action thriller','action adventure',
        'action sci fi','sci fi action',
        'sci fi horror','action horror',
        'adventure sci fi','adventure fantasy',
        'sci fi monster','adventure fantasy',
        'action fantasy','action fantasy',
        'animation fantasy','animation adventure',
        'animation family','animation family',
        'animation family','animation adventure',
        'animation family','animation family',
        'animation family'
    ]
}

df = pd.DataFrame(movies)

# ðŸ”´ THIS LINE ENSURES ALL 50 MOVIES APPEAR
df

                       title                    genres
0                     Avatar  action adventure fantasy
1                    Titanic             romance drama
2                  Inception    action sci fi thriller
3               Interstellar    sci fi adventure drama
4            The Dark Knight        action crime drama
5                      Joker      crime drama thriller
6                   Avengers          action adventure
7                   Iron Man             action sci fi
8                       Thor            action fantasy
9            Captain America                action war
10             Black Panther          action adventure
11            Doctor Strange         fantasy adventure
12   Guardians of the Galaxy      action comedy sci fi
13                Spider-Man          action adventure
14                   Ant-Man             action comedy
15                  Deadpool             action comedy
16                     Logan              action drama
17                     X-Men            action fantasy
18            Justice League            action fantasy
19              Man of Steel             action sci fi
20              Harry Potter   fantasy magic adventure
21          Fantastic Beasts         fantasy adventure
22         Lord of the Rings         fantasy adventure
23                The Hobbit         fantasy adventure
24                 Star Wars          sci fi adventure
25                 Rogue One             sci fi action
26                The Matrix             sci fi action
27                 John Wick           action thriller
28        Mission Impossible           action thriller
29          Fast and Furious          action adventure
30              Transformers             action sci fi
31                Terminator             sci fi action
32                     Alien             sci fi horror
33                  Predator             action horror
34             Jurassic Park          adventure sci fi
35                 King Kong         adventure fantasy
36                  Godzilla            sci fi monster
37  Pirates of the Caribbean         adventure fantasy
38                   Aquaman            action fantasy
39                    Shazam            action fantasy
40                    Frozen         animation fantasy
41                     Moana       animation adventure
42                      Coco          animation family
43                 Toy Story          animation family
44                      Cars          animation family
45                        Up       animation adventure
46              Finding Nemo          animation family
47                Inside Out          animation family
48             The Lion King          animation family

In [5]:
print("Total movies:", len(df))

Total movies: 49

In [6]:
for i, movie in enumerate(df['title'], start=1):
    print(f"{i}. {movie}")

1. Avatar
2. Titanic
3. Inception
4. Interstellar
5. The Dark Knight
6. Joker
7. Avengers
8. Iron Man
9. Thor
10. Captain America
11. Black Panther
12. Doctor Strange
13. Guardians of the Galaxy
14. Spider-Man
15. Ant-Man
16. Deadpool
17. Logan
18. X-Men
19. Justice League
20. Man of Steel
21. Harry Potter
22. Fantastic Beasts
23. Lord of the Rings
24. The Hobbit
25. Star Wars
26. Rogue One
27. The Matrix
28. John Wick
29. Mission Impossible
30. Fast and Furious
31. Transformers
32. Terminator
33. Alien
34. Predator
35. Jurassic Park
36. King Kong
37. Godzilla
38. Pirates of the Caribbean
39. Aquaman
40. Shazam
41. Frozen
42. Moana
43. Coco
44. Toy Story
45. Cars
46. Up
47. Finding Nemo
48. Inside Out
49. The Lion King

In [7]:
cv = CountVectorizer()
genre_matrix = cv.fit_transform(df['genres'])

In [8]:
similarity = cosine_similarity(genre_matrix)

In [11]:
def recommend(movie_name):
    movie_name = movie_name.lower()
    df['title_lower'] = df['title'].str.lower()

    if movie_name not in df['title_lower'].values:
        print("Movie not found in dataset")
        return

    index = df[df['title_lower'] == movie_name].index[0]
    distances = similarity[index]

    movies_list = sorted(
        list(enumerate(distances)),
        reverse=True,
        key=lambda x: x[1]
    )[1:6]

    print(f"\nMovies similar to '{df.iloc[index].title}':\n")
    for i in movies_list:
        print(df.iloc[i[0]].title)

In [12]:
movie = input("Enter a movie name: ")
recommend(movie)

Enter a movie name:  Inception

Movies similar to 'Inception':

Iron Man
Man of Steel
Rogue One
The Matrix
Transformers